.PostForm {
    max-width: 20%;
    margin-left: 5px;
}

.container {
    margin-left: 1%;
    margin-right: 1%;
    width: 100%;
}

.Content {
    padding: 20px;
}

h1 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: rgb(95, 95, 95);
}

h2 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: rgb(95, 95, 95);
}