.PostForm {
    max-width: 20%;
    margin-left: 5px;
}

.container {
    margin-left: 1%;
    margin-right: 1%;
}

.Contents {
    left: 2.5%;
    position: absolute;
    padding: 3%;
    min-width: 95%;
    min-height: 810px;
    background-color: white;
}

.Wrapper {
    width: 100%;
    min-height: 860px;
    background-image: url("./images/background2.jpeg");
    background-size: cover;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.PostForm {
    float: right;
    width: 20%;
    margin-right: 10%;
}

.Tips {
    float: left;
    width: 20%;
}


h1 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: rgb(95, 95, 95);
}

h2 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: rgb(95, 95, 95);
}